<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
</head>
<body>

    <%= render partial: "static_pages/header" %>
    <div id="flash">
      <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>
      <%= yield %>
</body>
</html>
