<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tag %>
</head>
<body>

    <%= render partial: "static_pages/header" %>
    <%= link_to "Connect With Facebook", "/auth/facebook" %>
    <div id="flash">
      <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

      <%= yield %>
    <%= link_to "See all listings" , listings_path %>
</body>
</html>
